body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    text-align: center;
}

.card {
    background-color: rgb(193, 200, 168);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    min-width: 300px;
}

.card h2 {
    margin-bottom: 30px;
    color: #333;
}

.buttons button {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: #357ABD;
}
