
 body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 


.header-content {
    background-color:#363232;
    color:white;
    text-align: center;
    padding: 30px 0;
} 

header h1 {
    margin: 0;
    font-size: 36px;
}

header h3 {
    margin: 10px 0 0 0;
    font-weight: normal;
}


nav {
    background-color: rgb(240, 240, 95);
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 25px;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #004080;
    color: #ffcc00;
}
