
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a7b2bd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  .login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .login-box h2 {
    margin-bottom: 20px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .btn {
    width: 30%;
    background-color: #46a049;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    
  }  
  .switch {
    margin-top: 15px;
    font-size: 14px;
  }
  .switch a {
    color:rgb(65, 65, 107);
    text-decoration:none;
    font-weight:Bold;
  }  
  .switch a:hover{
    text-decoration: underline;
    color:blue;
    font-size: medium;
  }
  .back-link {
    text-align: center;
    margin-top: 10px;
  }
  .back-link a {
    color: blue;
    text-decoration: none;
  }
  
  .back-link a:hover {
    text-decoration: underline;
  }
  
