* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a7b2bd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .btn {
    margin-left: 100px;
    width: 35%;
    background-color: #46a049;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
  }  
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .back-link {
    text-align: center;
    margin-top: 10px;
  }
  .back-link a {
    color: blue;
    text-decoration: none;
    margin-right: 30px;
  }
  
  .back-link a:hover {
    text-decoration: underline;
    font-size: larger;
  }
h2{
  text-align: center;
}
input:focus {
  outline: none;
  transform: scale(1.03);
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.3);
  
}
.logout-section {
  margin-top: 20px;
}

.logout-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #b71c1c;
  transform: scale(1.05);
}